# Basics of Sets and Relations #7

## Task
Consider the following data table named Student.
```
Student Name    Number  Sex  
Ben             3412    M  
Dan             1234    M  
Nel             2341    F  
```
What is the count of rows returned in the following relational selection? 
$σ_{Number<3000} (Student)$

Consider the following data table named Student.
```
Student Name        Number  Sex  
Nina                3412    F 
Mike                1234    M  
Nelson              2341    F  
```
Here is another data table named Teaching Assistants
```
Subject     ID
Physics     3412
Chemistry   1111
Mathematics 2341  
```
What is the count of rows returned in the following join operation?

$Student_{ ⊳⊲(Number=ID)} \,\, Teaching Assistants$

## Output Format
Only enter the correct integer in the answering box. Do not include any extra spaces, tabs or newlines.

In [15]:
2