# Basics of Sets and Relations #5

## Task
Consider the following data table named Student.
```
Student Name    Number  Sex  
Ben             3412    M  
Dan             1234    M  
Nel             2341    F  
```
What is the count of rows returned in the following relational selection? 

$Ïƒ_{Number<3000} (Student)$

## Output Format
Only enter the correct integer in the answering box. Do not include any extra spaces, tabs or newlines.

In [15]:
2